.button {
	display: inline-block;
	border: solid 1px grey;
	width: fit-content;
	min-width: 150px;
	padding: 5px;
	margin: 10px 0;
	margin-right: 10px;
	font-size: 15px;
	text-align: center;
	cursor: pointer;
}
