* {
    padding: 0;
    margin: 0;
}
body {
    font-size: 20px;
    font-family: Verdana, 'Arial Narrow', Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
h1 {
    font-weight: lighter;
}
.side-bar {
    background-color: #E7E9EA;
    height: 100%;
    position: absolute;
    width: max-content;
}
.mainTitle {
    background-color: #3F9AC9;
    padding: 10px 80px;
    color: white;
    width: fit-content;
}
.side-nav {
    padding: 20px 0;
}
.side-nav-item {
    border-left: solid transparent 10px;
}
.sni-selected {
    border-left: solid #3F9AC9 10px;
    color: #3F9AC9;
    fill: #3F9AC9;
}
.side-nav-item-desc {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 20px;
}
.side-nav-item-desc svg {
    margin-right: 10px;
}
.expand-icon {
    margin-left: auto;
}
.sub-menu {
    padding: 10px 0;
}
.sub-menu-item {
    padding-left: 50px;
    font-size: 16px;
}