table {
	border-width: 5px;
	border-collapse: collapse;
	width: 100%;
	font-size: 15px;
}
table,
th {
	border: 1px solid rgb(216, 216, 216);
}
th,
td {
	padding: 10px;
	text-align: left;
}
.table-null-row {
	padding: 20px;
	font-size: 12px;
	text-align: center;
	width: 100%;
}
