table {
	border-width: 5px;
	border-collapse: collapse;
	width: 100%;
}
table,
th {
	border: 1px solid rgb(216, 216, 216);
}
th,
td {
	padding: 10px;
	text-align: left;
}
.edit-icon {
	fill: #3f9ac9;
	cursor: pointer;
	opacity: 0;
}
tr:hover .edit-icon {
	opacity: 1;
}
