.text-input {
	display: inline-block;
	margin: 10px 10px;
	width: 100%;
	max-width: 200px;
	margin-bottom: 20px;
}
.text-input-container {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.text-input-container input {
	flex: 1;
	border: solid 1px grey;
}
.text-input-container label {
	display: block;
	font-size: 12px;
	font-style: italic;
}
