.main-container {
	display: flex;
	flex-direction: row;
	position: absolute;
	min-height: 100%;
	width: 100%;
}
.main-content {
	flex: 1;
}
.content-container {
	padding: 40px 30px;
}
.main-top-bar-options {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: right;
}
.main-top-bar-option {
	width: max-content;
	margin: 0 20px;
}
.main-top-bar-option-label {
	font-size: 14px;
	display: inline-block;
	margin-right: 10px;
}
